<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<link rel='stylesheet' href='/plugins/ligrid/ligrid.css' />
</head>
<body>
    <input type="search" id="search">
    <button id="searchBtn">搜索</button>
    <br>
    <input type="test" id="username" placeholder="用户名" value="<%= userdata ? userdata.userName : ''%>">
    <button id="upload">上传卡组</button>
    <button id="goBtn">推荐卡组</button>
    <br>推荐职业
    <select id="klass">
      <option value=0>全部</option>
      <option value="2">德鲁伊</option>
      <option value="3">猎人</option>
      <option value="4">法师</option>
      <option value="5">圣骑士</option>
      <option value="6">牧师</option>
      <option value="7">刺客</option>
      <option value="8">萨满</option>
      <option value="9">术士</option>
      <option value="10">战士</option>
    </select>
    <div  id="ligrid">
    </div>
    <a id="decks-area-btn" href="#decks-area"></a>
    <div name="decks-area" id="decks-area">

    </div>
    <script src="/javascripts/zepto.min.js"></script>
    <script src="/plugins/ligrid/ligrid.js"></script>
    <script type="text/javascript">
        var cards = <%- JSON.stringify(cards)%>;
        var userdata = <%- JSON.stringify(userdata ? userdata.cards : [])%>;

        var ligrid = new Ligrid({countPerpage:20,gridid:"ligrid",userData:userdata});
        ligrid.loadData(cards);
        document.getElementById("searchBtn").addEventListener("click",function(e){
            var keyword = document.getElementById('search').value;
            if (keyword) {
                var newcards = cards.filter(function(item) {
                    return item.name.indexOf(keyword) > -1;
                });
                ligrid.loadData(newcards);
            }else{
                ligrid.loadData(cards);
            }
        });
        document.getElementById("goBtn").addEventListener("click",function(e){
            // ligrid.showData();
            // console.log(ligrid.getSelectedData());

            var cardsdata = ligrid.getSelectedData();
            if (cardsdata.length <= 0) {
                alert("请选择卡牌");
                return;
            };
            var postData = { cards: cardsdata ,klass:$("#klass").val()};
            $.ajax({
              type: 'POST',
              url: '/getrecommenddecks',
              // data to be added to query string:
              data: postData,
              // type of data we are expecting in return:
              dataType: 'json',
              timeout: 15000,
              success: function(data){
                console.log(data);
                showDecks(data);
              },
              error: function(xhr, type){
                alert('Ajax error!')
              }
            });
        });

        document.getElementById("upload").addEventListener("click",function(e){
            var username = document.getElementById('username').value;
            if (!username) {
                alert("请输入用户名");
                return;
            };
            var cardsdata = ligrid.getSelectedData();
            $.ajax({
              type: 'POST',
              url: '/uploadusercards',
              data: {username:username, cards:cardsdata},
              dataType: 'json',
              timeout: 15000,
              success: function(data){
                console.log(data);
              },
              error: function(xhr, type){
                alert('Ajax error!')
              }
            });
        });
        function showDecks(decks){
            var decksArea = document.getElementById("decks-area");
            decksArea.innerHTML = "";
            for (var i = 0; i < decks.length; i++) {
                addDeck(decks[i]);
            };
        }
        function addDeck(deck){
            var deckList = document.createElement("ul");
            deckList.className = "deck";
            var deckHeader = document.createElement("li");
            deckHeader.innerHTML = "相似度："+deck.percent+"<a href="+deck.deckSourceUrl+">卡组详解</a>";
            deckList.appendChild(deckHeader);
            for (var i = 0; i < deck.originalDeck.length; i++) {
                var cardItem = document.createElement("li");
                var flag = false;
                var a = deck.sameCards.indexOf(deck.originalDeck[i].cardName);
                if (a >=0) {
                    deck.sameCards.splice(a, 1); 
                    flag = true;
                };
                cardItem.innerHTML = deck.originalDeck[i].cardName + (flag ? "(您有)" : '');
                deckList.appendChild(cardItem);
            };
            var decksArea = document.getElementById("decks-area");
            decksArea.appendChild(deckList);
            $("#decks-area-btn").click();

        }
        // if (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream) {
            // $(".ligrid-li").click(function() {
            //     ligrid.itemClick(this);
            // });
        // };
    </script>
</body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PXL2TV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PXL2TV');</script>
<!-- End Google Tag Manager -->
</html>